.line {
    fill: none;
    stroke-width: 3;
}

.line:hover {
    stroke-width: 7;
}

.axis {
  stroke-width: 1.5;
  font-size: 12px;
  font-family: Verdana;
}

.area {
  fill: url(#linear-gradient);
  stroke: none;
  opacity: 0.5
}
