*{
  margin: 0;
  padding: 0;
  font-family: monospace;
}

html, body {
  height: 100vh;
}

#main-svg, #svg-lines, #svg-bars {
  max-height: 100%;
}

.bars {
  fill-opacity: 0.7;
}

.bars:hover {
  fill-opacity: 1.0;
}

.line {
    fill: none;
    stroke-width: 3;
}

.line:hover {
    stroke-width: 7;
    cursor: pointer;
}

.axis {
  stroke-width: 1.0;
  font-size: 10px;
  font-family: Verdana;
}

.area {
  fill: url(#linear-gradient);
  stroke: none;
  opacity: 0.5;
}

.legend rect{
  fill-opacity: 0.8;
}

.legend:hover rect{
  fill-opacity: 1;
}

.legend:hover {
  font-weight: bold;
  cursor: pointer;
}
